defineBinaryOperator ('|', (a, b) => b (a))
defineBinaryOperator ('>>', curry ((a, b) => compose (b, a)))
defineBinaryOperator ('<<', curry ((a, b) => compose (a, b)))

import {
  map, curry, compose, join, split, addIndex, identity, prop,
  either,
  fromPairs, toPairs,
  mapObjIndexed,
  curryN,
  filter, partition,
  path, T, F, multiply,
  forEach as each,
  mapAccum, zip, tap, flip,
  assoc, values,
  complement,
  mergeDeepRight,
} from 'ramda'

import {
  sprintfN, xReplace, ifNo, whenOk, ifOk, ifYes, blush, whenYes,
  compact, match, cond, guard, otherwise, xMatch, appendTo,
  concatFrom, concatTo,
  ifTrue, ifFalse, whenEquals,
  ifPredicate, gt, noop, whenPredicate, whenTrue, whenFalse,
  assocMut, mergeFromMut, appendToMut,
  defaultTo, ok, eq, dot, dot1,
  laats,
} from 'stick'

import React, { PureComponent, Component, } from 'react'
import PropTypes from 'prop-types'
import styled from 'styled-components'
import { connect, } from 'react-redux'
{{#if wantHeaders}}
import { Helmet, } from 'react-helmet'
{{/if}}
{{#if wantMessages}}
import { FormattedMessage, } from 'react-intl'
{{/if}}
{{#if wantActionsAndReducer}}
import { createStructuredSelector, } from 'reselect'
{{/if}}

{{#if wantSaga}}
import injectSaga from 'utils/injectSaga'
{{/if}}
{{#if wantActionsAndReducer}}
import injectReducer from 'utils/injectReducer'
import makeSelect{{properCase name}} from './selectors'
import reducer from './reducer'
{{/if}}
{{#if wantSaga}}
import saga from './saga'
{{/if}}
{{#if wantMessages}}
import messages from './messages'
{{/if}}

import {
  mapX, tellIf, isNotEmptyList,
  guardA, defaultToA,
  iwarn, ierror,
} from '../../utils/utils.js'

import {
  toJS,
} from '../../utils/utils-immutable'

import {
  whyYouRerender,
} from '../../utils/utils-react.js'

import {
  error as alertError,
} from '../../utils/utils-alert.js'

import config from '../../config'

// import { } from '../App/actions'
// import { } from '../../domains/api/selectors'
// import { } from '../../domains/domain/selectors'
// import { } from '../../domains/ui/selectors'
// import { } from '../../components/xxx'

export class {{ properCase name }} extends {{{ type }}} {
  constructor (props) {
    super (props)
  }

  render () {
    return (
      <div>
      {{#if wantHeaders}}
        <Helmet>
          <title>{{properCase name}}</title>
          <meta name="description" content="Description of {{properCase name}}" />
        </Helmet>
      {{/if}}
      {{#if wantMessages}}
        <FormattedMessage {...messages.header} />
      {{/if}}
      </div>
    )
  }
}

{{ properCase name }}.propTypes = {
  // dispatch: PropTypes.func.isRequired,
}

{{#if wantActionsAndReducer}}
const mapStateToProps = createStructuredSelector ({
  // apiLoading: makeSelectApiLoading (),
})
{{/if}}

const mapDispatchToProps = (dispatch) => ({
  // showAddKeyDispatch: showAddKey >> dispatch,
  // readerIDDispatch: path (['target', 'value']) >> changeReaderID >> dispatch,
})

export default {{ properCase name }}

{{#if wantActionsAndReducer}}
  | connect       (mapStateToProps, mapDispatchToProps)
{{else}}
  | connect       (null, mapDispatchToProps)
{{/if}}
{{#if wantSaga}}
  | injectSaga    ({ saga, key: '{{ camelCase name }}' })
{{/if}}
{{#if wantActionsAndReducer}}
  // --- local reducer (optional)
  | injectReducer ({ reducer, key: '{{ camelCase name }}' })
{{/if}}

